<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bcontent {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="card col sm-6">
        <div class="card-body">
<form method='POST'>
    <div class="form-floating mb-3" >
        <label for="fname">Name:</label><br>
        <input type="text" class="form-control" id="floatingInput" placeholder="name" required >
        
      </div>
    <div class="form-floating mb-3">
        <label for="email">E-mail:</label><br>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
     </div>
      
      <div class="form-floating">
        <label for="password">Password:</label><br>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
    </div>
    <br>
    <div class="form-floating" >
        <label for="password">Re-Enter Password:</label><br>
        <input type="password" class="form-control" id="floatingPassword" placeholder="rePassword" required>
    </div>
    <br>
    <div class="form-floating mb-3">
        <label for="fname">Mobile:</label><br>
        <input type="text" class="form-control" id="floatingInput" placeholder="mob.no" required>
     </div>
     <br>
     <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>

  </form>





