<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>About</title>
</head>
<body>

    <div class="space">
    <a class="text" href="/"> Home </a> 
    <a class="text" href="/signin"> Sign In </a>
    <a class="text" href="/signup"> Sign Up </a>
    </div>
    
    <h2 class="home"> About </h2>

    <p>Tired of searching through individual news sites for a particular topic? Stay up to date with any news topics you want from a variety of sources! This extension allows searching for news by selecting any keywords you want. It will return news stories published by a variety of sources to get different perspectives.</p>

</body>
</html>