<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="POST">
      <div class="container">
      <h1 class="hed">Log-in</h1><br>
      <div class="cont">
        <h6 id="box">
          {{msg}}
        </h6>
      </div>
      <div class="mail">
        <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i> -   
       
        <input type="email" class="place" placeholder="Email"/name="email" required><br><br></div>
      <div class="pwd">
        <i class="fas fa-lock fa-2x"></i> -
        <input type="password" class="place"placeholder="password"/name="password" required><br></div>
          <input type="button" class="btn" value="Login" /></p>


        </form>
  </div>
</body>
</html>
